@tailwind base;

@tailwind components;

body {
  @apply dark:bg-slate-900;
}

h1 {
  @apply text-4xl text-black dark:text-white;
}

h2 {
  @apply text-3xl text-gray-900 dark:text-slate-50;
}

h3 {
  @apply text-2xl text-gray-800 dark:text-slate-100;
}

h4 {
  @apply text-xl text-gray-800 dark:text-slate-100;
}

p,
small {
  @apply text-gray-700 dark:text-slate-200;
}

@tailwind utilities;

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", "Work Sans", "Helvetica Neue", Roboto, sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "Work Sans", "Helvetica Neue", Roboto, sans-serif;
  }
}

/**
*
*
*
*
*
*
*
*
*/

/* html,
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
} */

.area {
  animation: swing 1s infinite ease-in-out alternate;
  position: fixed;
  top: 0;
  right: 250px;
  z-index: 20;
  transform-origin: top;
  -moz-transform-origin: top;
  -webkit-transform-origin: top;
}

.area.hide {
  top: -100%;
}

.wire {
  position: relative;
  left: calc(50% - 2px);
  height: 150px;
  width: 4px;
  background-color: black;
}

.fixture {
  position: relative;
  background-color: grey;
  width: 16px;
  height: 20px;
  left: calc(50% - 8px);
}

.strip {
  position: relative;
  width: 18px;
  height: 2px;
  right: 1px;
  top: 4px;
  background-color: darkgrey;
}

.strip:nth-of-type(2) {
  top: 7px;
}

.strip:nth-of-type(3) {
  top: 10px;
}

.bulb {
  position: relative;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  bottom: 2px;
  z-index: -1;
  background-color: rgba(67, 67, 67, 0.85);
  border-radius: 50%;
}
.bulb.light {
  background-color: rgba(255, 255, 255, 0.85);
  /* -webkit-box-shadow: 0px 0px 300px 77px rgba(235, 209, 164, 1);
  -moz-box-shadow: 0px 0px 300px 77px rgba(235, 209, 164, 1); */
  /* box-shadow: 0px 0px 300px 77px rgb(255, 255, 255); */
  box-shadow: 0px 0px 300px 77px rgba(255, 255, 255, 1),
    0px 0px 300px 3000px rgba(255, 255, 255, 0.09);
}

.zig {
  position: relative;
  background-color: transparent;
  width: 10px;
  height: 5px;
  border-radius: 5px / 2.5px;
  left: 14px;
  border: black solid 1px;
}

.zig:nth-of-type(2) {
  top: -3px;
}

.zig:nth-of-type(3) {
  top: -6px;
}

@keyframes swing {
  from {
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}

/* Shape around YouTube vide thumbnail on small view widths */
@media screen and (max-width: 640px) {
  .shape-around {
    shape-outside: polygon(
      0 0,
      calc(100% + 5px) 0,
      calc(100% + 5px) calc(100% + 5px),
      0 calc(100% - 1px)
    );
    /* margin: 0 0 1rem 0; */
    /* overflow: hidden; */
    width: 8rem;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    /* height: 3rem; */
    float: left;
  }
}
