@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", "Work Sans", "Helvetica Neue", Roboto, sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "Work Sans", "Helvetica Neue", Roboto, sans-serif;
  }
}

header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

header > div {
  margin-left: 10px;
}

header > div > * {
  margin: 0;
}

header > img {
  width: 80px;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px #737373;
}

section {
  padding: 10px;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#projects > div {
  max-width: 500px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 4px 0px #a7a7a7;
}

#projects > div h3 {
  margin: 0;
}

#projects > div > div:first-child {
  width: 500px;
  height: 261px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  background-position: center;
  background-size: cover;
}

#projects > div > div:last-child {
  padding: 10px;
}
